<!DOCTYPE html>
<html>

<head>
        {% if welcome %}
	<title>Welcome to Relaypad for {{ team_name }}</title>
        {% else %}
	<title>{{ team_name }} Daily Briefing for {{ today|date:"l, F j, Y" }}</title>
        {% endif %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<style type="text/css">
		/* CLIENT-SPECIFIC STYLES */

		body,
		table,
		td,
		a {
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
		}

		table,
		td {
			mso-table-lspace: 0pt;
			mso-table-rspace: 0pt;
		}

		img {
			-ms-interpolation-mode: bicubic;
		}
		/* RESET STYLES */

		img {
			border: 0;
			height: auto;
			line-height: 100%;
			outline: none;
			text-decoration: none;
		}

		table {
			border-collapse: collapse !important;
		}

		body {
			height: 100% !important;
			margin: 0 !important;
			padding: 0 !important;
			width: 100% !important;
			background-color: #fff;
		}
		/* iOS BLUE LINKS */

		a[x-apple-data-detectors] {
			color: inherit !important;
			text-decoration: none !important;
			font-size: inherit !important;
			font-family: inherit !important;
			font-weight: inherit !important;
			line-height: inherit !important;
		}
		/* EMAIL STYLES */

		.relaypad_email_wrapper {
			width: 100%;
			max-width: 600px;
			margin: 10px auto;
			padding: 0;
			border-radius: 5px;
			background-color: #fff;
		}

		.relaypad_email_footer {
			width: 100%;
			max-width: 600px;
			margin: 0 auto 10px auto;
			padding: 0;
		}

		h1 {
			text-align: left;
		}

		h1 span {
			float: right;
		}
		/* MOBILE STYLES */

		@media screen and (max-width:500px) {
			h1 {
				text-align: center;
			}
			h1 span {
				display: block;
				float: none;
			}
		}
	</style>
</head>

<body style="margin: 0 auto !important; padding: 0 !important;">
	<!-- HIDDEN PREHEADER TEXT -->
	<div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1px; line-height: 1px; display: none; overflow: hidden; max-width: 0; max-height: 0; opacity: 0; color: #fff;">
                {% if welcome %}
		Welcome to RelayPad! Here’s what has been going on with your team lately.
                {% else %}
		Here’s what has been going on with your team today.
                {% endif %}
	</div>

	<div class="relaypad_email_wrapper">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<!-- EMAIL HEADER -->
			<tr>
				<td align="center" valign="top" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 36px; padding:0 10px; color: #555453;">
					<a href="https://relaypad.com" target="_blank">
						<img src="http://relaypad.com/img/peeking-out@2x.png" height="60" style="display: block; height: 60px; min-height: 60px; max-height: 60px; margin-bottom: 15px;" border="0">
					</a>

          {% if welcome %}
          <h1 style="font-size: 21px; font-weight: bold; line-height: 26px; margin: 0 0 15px 0; color: #333232; text-align: center;">Welcome to RelayPad</h1>
          {% else %}
          <h1 style="font-size: 21px; font-weight: bold; line-height: 26px; margin: 0 0 15px 0; color: #333232;">{{ team_name }} Daily Briefing <span style="font-weight: normal; font-size: 14px; text-transform: uppercase; line-height: 26px; color: #777675;">{{ today|date:"l, F j, Y" }}</span></h1>
          {% endif %}

				</td>
			</tr>
			<!-- EMAIL BODY -->
			<tr>
				<td bgcolor="#ffffff" style="padding:0 10px 10px 10px;">
					<!--[if (gte mso 9)|(IE)]>
				<table align="center" border="0" cellspacing="0" cellpadding="0" width="550">
				<tr>
				<td align="center" valign="top" width="550">
				<![endif]-->
					<table border="0" cellpadding="0" cellspacing="0">
						{% for post in posts %}
						<!-- POST -->
						<tr>
							<td align="center" valign="top" style="padding: 20px 0; border-top: solid 1px #eeece9;">
								<img src="{{ post.member_avatar }}" width="50" height="50" />
							</td>
							<td bgcolor="#ffffff" align="left" valign="top" width="100%" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 21px; font-weight: normal; padding: 20px 0 20px 10px; color: #555453; border-top: solid 1px #eeece9;">
								<a href="{{ post.url }}" style="font-size: 18px; line-height: 21px; font-weight: bold; display: block; text-decoration: none; color: #2785cb; margin-bottom: 5px;">{{ post.title }}</a>
								<p style="font-size: 14px; line-height: 21px; margin: 0; color: #777675;">Added by <a href="{{ post.member_url }}" style="text-decoration: none; color: #2785cb;">{{ post.member_name }}</a>{% if post.tags %} to {% for t in post.tags %}<a href="{{ t.url }}" style="text-decoration: none; color: #2785cb;">{{ t.name }}</a> {% endfor %}{% endif %}</p>
								<p style="margin: 10px 0 0 0">{{ post.intro|safe }} <a href="{{ post.url }}" style="text-decoration: none; color: #2785cb;">Read more</a></p>
							</td>
						</tr>

            {% empty %}
              {% if welcome %}
  						<tr>
  							<td align="center" valign="top" style="padding: 20px 0; border-top: solid 1px #eeece9;">
  							</td>
  							<td bgcolor="#ffffff" align="left" valign="top" width="100%" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 21px; font-weight: normal; padding: 20px 0 20px 10px; color: #555453; border-top: solid 1px #eeece9;">
                  <p>RelayPad is your team’s shared notebook and a place to record what’s happening across {{ team_name }}.</p>
                  <h2 style="font-size: 18px; line-height: 21px; font-weight: bold; display: block; text-decoration: none; color: #333232; margin-bottom: 5px;">How RelayPad Works</h2>
                  <p>As teams grow it can be difficult to keep everyone informed. Important information can go undocumented or get lost in a flurry of emails, chat messages, and shared documents. RelayPad provides a safe place to consistently record meaningful information, like:</p>
                  <ul>
                    <li>Product updates</li>
                    <li>Strategic announcements</li>
                  	<li>User research reports</li>
                  	<li>New hire welcomes</li>
                  	<li>Any meaningful developments you can think of…</li>
                  </ul>
                  <p>Entries published on RelayPad can be viewed by all members of the {{ team_name }} Slack team. RelayPad complements your Slack usage since your entries can be automatically shared to specific Slack channels.</p>
  							</td>
  						</tr>
              {% endif %}
						{% endfor %}

						<!-- LINK TO FEED -->
						<tr>
							<td colspan="2">
								<a href="{{ read_more_url }}" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 16px; display: block; padding: 15px; text-align: center; text-decoration: none; color: #2785cb; border: solid 2px #93c2e5; border-radius: 6px; background-color: #fff;">
                  {% if posts %}
                    See More Entries on RelayPad →
                  {% else %}
                    Add Your Entry on RelayPad →
                  {% endif %}
                </a>
							</td>
						</tr>
					</table>
					<!--[if (gte mso 9)|(IE)]>
			</td>
			</tr>
			</table>
			<![endif]-->
				</td>
			</tr>
		</table>
	</div>

	<!-- FOOTER -->
	<div class="relaypad_email_footer">
		<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 16px; margin: 10px 15px; color: #bfbfbf;">You are receiving this email as a member of the {{ team_name }} RelayPad team. <a href="{{ notification_settings_url }}" target="_blank" style="font-weight: bold; text-decoration: none; color: #bfbfbf;">Manage your notifications</a>.</p>
		<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 16px; margin: 10px 15px; color: #bfbfbf;">We want to know how you are doing. Reply to this email with feedback, questions or issues. Thanks for using RelayPad.</p>
	</div>

</body>

</html>
