<!DOCTYPE html>
<html>

<head>
	<title>{{ team_name }}’s RelayPad Is Ready</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<style type="text/css">
		/* CLIENT-SPECIFIC STYLES */

		body,
		table,
		td,
		a {
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
		}

		table,
		td {
			mso-table-lspace: 0pt;
			mso-table-rspace: 0pt;
		}

		img {
			-ms-interpolation-mode: bicubic;
		}
		/* RESET STYLES */

		img {
			border: 0;
			height: auto;
			line-height: 100%;
			outline: none;
			text-decoration: none;
		}

		table {
			border-collapse: collapse !important;
		}

		body {
			height: 100% !important;
			margin: 0 !important;
			padding: 0 !important;
			width: 100% !important;
			background-color: #fff;
		}
		/* iOS BLUE LINKS */

		a[x-apple-data-detectors] {
			color: inherit !important;
			text-decoration: none !important;
			font-size: inherit !important;
			font-family: inherit !important;
			font-weight: inherit !important;
			line-height: inherit !important;
		}
		/* EMAIL STYLES */

		.relaypad_email_wrapper {
			width: 100%;
			max-width: 600px;
			margin: 10px auto;
			padding: 0;
			border-radius: 5px;
			background-color: #fff;
		}

		.relaypad_email_footer {
			width: 100%;
			max-width: 600px;
			margin: 0 auto 10px auto;
			padding: 0;
		}

		h1 {
			text-align: left;
		}

		h1 span {
			float: right;
		}
		/* MOBILE STYLES */

		@media screen and (max-width:500px) {
			h1 {
				text-align: center;
			}
			h1 span {
				display: block;
				float: none;
			}
		}
	</style>
</head>

<body style="margin: 0 auto !important; padding: 0 !important;">
	<!-- HIDDEN PREHEADER TEXT -->
	<div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 1px; line-height: 1px; display: none; overflow: hidden; max-width: 0; max-height: 0; opacity: 0; color: #fff;">
		Some tips on how to make the most of RelayPad.
	</div>

	<div class="relaypad_email_wrapper">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<!-- EMAIL HEADER -->
			<tr>
				<td align="center" valign="top" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding:0 10px; color: #555453;">
					<a href="https://relaypad.com" target="_blank">
						<img src="http://relaypad.com/img/welcome-email-header.png" srcset="http://relaypad.com/img/welcome-email-header.png 1x, http://relaypad.com/img/welcome-email-header@2x.png 2x" height="250" width="600" style="display: block; margin-bottom: 15px;" border="0" alt="" />
					</a>
					<h1 style="font-size: 32px; font-weight: normal; line-height: 32px; margin: 0 0 15px 0; color: #333232; text-align: center;">Welcome to RelayPad</h1>
					<p style="font-size: 20px; line-height: 1.4; color: #666564; text-align: left;">RelayPad is {{ team_name }}’s shared notebook—a consistent place to write stuff down. Here are some tips on how to get started.</p>
				</td>
			</tr>
			<tr>
				<td valign="top" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 20px 10px; color: #555453; border-bottom: solid 1px #eeece9">
					<h2 style="font-size: 21px; font-weight: normal; line-height: 21px; margin: 0 0 15px 0; color: #333232; text-align: center;">Add Your First Entry</h2>
					<p style="font-size: 16px; line-height: 1.4; text-align: left;">Try adding an entry about something meaningful that just happened. It could be about a recent  meeting, a product release, or anything else longer than a chat message that should be recorded and referenced.</p>
					<p style="font-size: 16px; line-height: 1.4; text-align: left;">Looking for inspiration? We added a “<a href="{{ welcome_post_edit_link }}" target="_blank" style="text-decoration: none; color:#2785cb;">Introducing RelayPad</a>” draft to your account. You can choose to publish or ignore this draft.</p>
					<p style="margin-bottom: 0; padding-bottom: 0; text-align: center;"><a href="{{ new_post_link }}" target="_blank" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 14px; display: inline-block; padding: 10px 30px; text-decoration: none; text-decoration: none; color: #fff; color: #fff; border: 1px solid #2785cb; border-radius: 5px; background-color: #2785cb;">Add Your First Entry</a></p>
				</td>
			</tr>
			<tr>
				<td valign="top" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 20px 10px; color: #555453; border-bottom: solid 1px #eeece9">
					<h2 style="font-size: 21px; font-weight: normal; line-height: 21px; margin: 0 0 15px 0; color: #333232; text-align: center;">Add RelayPad’s Slack Integration</h2>
					<p style="font-size: 16px; line-height: 1.4; text-align: left;">Adding the RelayPad integration to your Slack team unlocks a number of useful features, including automatic linking of RelayPad tags to public Slack channels, previews of RelayPad entries in Slack.</p>
					<p style="margin-bottom: 0; padding-bottom: 0; text-align: center;"><a href="{{ add_to_slack_link }}" target="_blank" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 14px; display: inline-block; padding: 10px 30px; text-decoration: none; text-decoration: none; color: #fff; color: #fff; border: 1px solid #2785cb; border-radius: 5px; background-color: #2785cb;">Add RelayPad to Slack</a></p>
				</td>
			</tr>
			<tr>
				<td valign="top" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding: 20px 10px; color: #555453;">
					<p style="font-size: 16px; line-height: 1.4; text-align: left;">Thanks for using RelayPad. If you need any help, please reply to this email or email us at <a href="mailto:team@relaypad.com" style="color: #2785cb; text-decoration: none;">team@relaypad.com</a> with any questions or comments.</p>
					<p style="font-size: 16px; line-height: 1.4; text-align: left;">
						The RelayPad Team
					</p>
				</td>
			</tr>
		</table>
	</div>
	<!-- FOOTER -->
	<div class="relaypad_email_footer">
		<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 16px; margin: 10px 15px; color: #bfbfbf;">You are receiving this email because you created the {{ team_name }} team on RelayPad.</p>
	</div>

</body>

</html>
