<p>Thanks for checking out RelayPad, the best way for you to organize and share your team’s ideas. It’s a secure home to record your plans, research, learnings and updates.</p>
<p>Here are a few tips to get you started.</p>
<h1>Creating and Organizing Notes</h1>
<p>The RelayPad editor makes it easy to capture your stream of conscious thoughts or lay out your grand vision. It offers just enough formatting options to present your work in a clear and readable layout.</p>
<p>Tags let you organize your notes as loosely or as granularly as you’d like, and you can star notes to bookmark them for future reference.</p>
<h1>Publishing Notes to Your Team</h1>
<p>By default, notes you create on RelayPad are viewable only by yourself. You can share a note with your team, at which point anyone on the {{ team_name }} Slack team can read it. Your notes are never viewable by anyone outside of the {{ team_name }} Slack organization.</p>
<p>To publish a note, click the “Share” button in the upper right section of your note. Notes that have been shared will have a team icon in the list view.</p>
<p>Once your note is shared, you can paste the note’s URL in Slack, emails, or wherever you want to reference it. Team members can comment on your note but only you can edit the note content.</p>
<h1>A Quick Word About the Beta</h1>
<p>We want you to use RelayPad in your daily workflows, and recognize the need for stability and performance in any tools you use. At this point we don’t anticipate making any changes to core functionality that will break backward compatibility with any notes you create or share with your team. Keeping things working smoothly for you is a core priority for us.</p>
<h1>Get in Touch</h1>
<p>We’d love to hear about your experience with RelayPad. Have questions, suggestions, or any other feedback?</p>
<p>Email: <a href="mailto:feedback@relaypad.com">feedback@relaypad.com</a><br />Twitter: <a href="https://twitter.com/relaypad" target="_blank">@RelayPad</a><br />Blog: <a href="https://medium.com/relaypad" target="_blank">https://medium.com/relaypad</a></p>
<p>Thanks again for using RelayPad!</p>
